# Исключение виртуальных окружений
.venv
venv/
env/

# Исключение файлов, специфичных для IDE/редакторов
.idea/
.vscode/
*.sublime*

# Исключение файлов логов
*.log
logs/
*.out

# Исключение файлов временных сборок
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.tmp

# Исключение данных системы контроля версий
.git/
.gitignore
.hg/
.svn/
*.patch

# Исключение конфиденциальных файлов
*.env
.env.*
secrets/
config/settings/local.py

# Исключение статических и медиафайлов, если они генерируются
staticfiles/
media/

# Исключение файлов контейнера
docker-compose.override.yml

# Исключение кэшированных файлов и папок
*.cache
.cache/
.cache-loader/

# Исключение файлов архивов
*.tar
*.tar.gz
*.zip
*.rar

# Исключение временных файлов операционной системы
.DS_Store
Thumbs.db
