{% extends "base.html" %}
{% load i18n %}

{% block title %}Get Started{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    {% if request.user.is_authenticated %}
    <a href="#" class="btn btn-primary btn-lg" id="start">
        {% trans "Get Started" %}
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg" id="start">
        {% trans "Get Started" %}
    </a>
    {% endif %}
</div>
{% endblock %}
